.container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    gap: 10px;
    width: 600px;

}
.box {
    background-color: blueviolet;
    box-sizing: 20%;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

}