* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 800px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding: 25px 20px;
    gap: 10px;
    align-items: center;
}

.content {
    text-align: center;
    padding: 20px;
}

.img {
    margin-top: 20px;
}

.button {
    background-color: rgb(247, 112, 89);
    padding: 10px;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}
